.toptext{
	font-size:13px;
	top:22px;
	position:absolute;
	font-family:arial;
	color:#191919;
	cursor:pointer;
}

.centre {
	display:block; 
	margin-left:auto;
	margin-right:auto;
}

.gmail{
	right:225px;
}

.images{
	right:165px;
}

.about{
	left:25px;
}

.store{
	left:75px;	
}

.avatar{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	top:15px;
	right: 30px;
	cursor:pointer;
}

.notification{
    width:20px;
    height:20px;
    position: absolute;
    top:20px;
    right:80px;
    cursor:pointer;
}

.menu{
	width:20px;
	height:20px;
	position: absolute;
	top:20px;
	right: 125px;
	cursor:pointer;
}

.google {
	max-height: 92px;
	max-width: 272px;
	position: relative;
	top: 91px;
	padding-top:109px;
}

.box {
	width: 484px;
	height:44px;
	position:relative;
	margin-top:-37px;
	top:150px;
	outline:none;
	border:1px solid lightgrey;
	box-shadow:0px 1px 9px -5px;
}

.box:hover{
	box-shadow:0px 4px 10px -5px;
	border:1px solid lightgrey;
	outline:none;

}

.buttons {
  margin-bottom:60px;
  margin-left:0px;
  text-align:center;
}

.bottom{
    font-size:15px;
	position:absolute;
	font-family:arial;
	color:rgba(0,0,0,.54);
}

.language{
    font-family:arial;
    font-size:13px;
    position:relative;
    top:-40px;
    text-align:center;
}

a{
	color:#1a0dab;
	cursor:pointer;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
	color: #4c4c4c
}


button {
  background-color:#f2f2f2;
  border:none;
  padding:10px;
  margin:10px;
  color:#757575;
  font-size:11pt;
  font-family:arial;
  border-radius: 2px;
  margin-top:180px;
  display:inline-block;

}

button:hover{
    cursor:pointer;
    box-shadow:0px 4px 10px -15px;
    background-color:#f7f7f7;
	border:1px solid lightgrey;
    color:#000000;
	outline:none;
    
}

#Canada{
    color:rgba(0,0,0,.54);
    font-size:15px;
    font-family:arial;
    cursor:text
    display:inline;
    margin-left:25px;
    margin-top:140px;
}

#Advertising{
    color: #5f6368;
    display: inline-block;
    cursor: pointer;
    font-size:13px;
    font-family:arial;
    margin-left:25px;

}

#Business{
    color: #5f6368;
    display: inline-block;
    cursor: pointer;
    font-size:13px;
    font-family:arial;
    margin-left:28px;
}

#Privacy{
    color: #5f6368;
    display: inline-block;
    cursor: pointer;
    font-size:13px;
    font-family:arial;
    margin-right:50%;

   
}

#Terms{
    color: #5f6368;
    display: inline-block;
    cursor: pointer;
    font-size:13px;
    font-family:arial;
    margin-right:25px
  
    
}

#Settings{
    color: #5f6368;
    display: inline-block;
    cursor: pointer;
    font-size:13px;
    font-family:arial;
    margin-right:23px

   
}

#Advertising:hover{
    text-decoration:underline;
}

#Business:hover{
    text-decoration: :underline;
}

#Privacy:hover{
    text-decoration: :underline;
}

#Terms:hover{
    text-decoration: :underline;
}

#Settings:hover{
    text-decoration: :underline;
}
