.toptext{
	font-size:13px;
    font-family:arial;
    position:absolute;
	top:22px;
	color:#191919;
	cursor:pointer;
}

.centre {
	display:block; 
	margin-left:auto;
	margin-right:auto;
}

.gmail{
	right:225px;
}

.images{
	right:165px;
}

.about{
	left:25px;
}

.store{
	left:75px;	
}

.avatar{
    position: absolute;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	top:15px;
	right: 30px;
	cursor:pointer;
}

.notification{
    position: absolute;
    width:20px;
    height:20px;
    top:20px;
    right:80px;
    cursor:pointer;
}

.menu{
    position: absolute;
	width:20px;
	height:20px;
	top:20px;
	right: 125px;
	cursor:pointer;
}

.google {
    position: relative;
    max-height: 92px;
	max-width: 272px;
	top: 91px;
	padding-top:109px;
}

.box {
    position:relative;
	width: 484px;
	height:44px;
	margin-top:-37px;
	top:150px;
	border:1px solid lightgrey;
	box-shadow:0px 1px 9px -5px;
    outline:none;
}

.box:hover{
	box-shadow:0px 4px 10px -5px;
	border:1px solid lightgrey;
	outline:none;
}

.buttons {
  margin-bottom:60px;
  margin-left:0px;
  text-align:center;
}

.bottom{
    font-size:15px;
	font-family:arial;
    position:absolute;
	color:rgba(0,0,0,.54);
}

.left {
  font-family:arial;
  padding-right: 20px;
  color:#5f6368;
  float: left;
  margin: 15px;
  margin-top: -1px;
  margin-left:1px;
}

.right {
  font-family:arial;
  padding-right:20px;
  color:#5f6368;
  float: left; 
  float: right;
  margin: 15px;
  margin-top: -1px;
  margin-left:1px;
}

.left:hover,
.right:hover {
  text-decoration: underline;
}

a{
	color:#1a0dab;
	cursor:pointer;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
	color: #4c4c4c
}

button {
  padding:10px;
  margin:10px; 
  border-radius: 2px;
  margin-top:180px;
  display:inline-block;  
  background-color:#f2f2f2;
  color:#757575;
  font-size:11pt;
  font-family:arial;
  border:none;
}

button:hover{
    background-color:#f7f7f7;
    color:#000000;
	border:1px solid lightgrey;
    box-shadow:0px 4px 10px -15px;
	outline:none;
    cursor:pointer;
}

footer a:link,
footer a:visited {
  color: #5c5c5c;
  text-decoration: none;
}

footer ul li {
  display: inline;
  color: #c6c6c6;
  margin: 10px;
}

footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  border-top: 1px solid #c6c6c6;
  font-size: 13px;
  font-family:arial;
  height: 40px;
}