#container{
    width:50%;
    height:50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:auto;
    display:block;
}

#clear{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#changeSize{
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

#changeColor{
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container div {
	outline: 1px solid;
	border-color:black;
	float: left;
}

#container div:hover{
	background:red;
}

