#container{
    margin-left:auto;
    margin-right:auto;
    max-width: 400px;
    min-width:400px;
    display:block;
}

#container div {
    outline: 1px solid;
    border-color:black;
    float: left;
}

.buttons{
    display:inline-block;
}

body{
    text-align:center;
}